{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
        <h1>{{ payment_failed_title }}</h1>
        <p>{{ text_payment_failed_error }}</p>
        <p>{{ text_payment_failed_redirect }}</p>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}

